// PRIMARIO
$primario-light: #FBE6F2;
$primario-light-hover: #F9D9EC;
$primario-light-active: #F2B0D7;

$primario-normal: #D5007F;
$primario-normal-hover: #C00072;
$primario-normal-active: #AA0066;

$primario-dark: #A0005F;
$primario-dark-hover: #80004C;
$primario-dark-active: #600039;
$primario-darker: #4B002C;


// SECUNDARIO
$secundario-light: #EEEAF1;
$secundario-light-hover: #E6E0EA;
$secundario-light-active: #CBBED4;

$secundario-normal: #582E73;
$secundario-normal-hover: #4F2968;
$secundario-normal-active: #46255C;

$secundario-dark: #422356;
$secundario-dark-hover: #351C45;
$secundario-dark-active: #281534;
$secundario-darker: #1F1028;


// TERCIARIO    
$terciario-light: #F9F4F6;
$terciario-light-hover: #F7EFF2;
$terciario-light-active: #EEDDE4;

$terciario-normal: #C791A8;
$terciario-normal-hover: #B38397;
$terciario-normal-active: #9F7486;

$terciario-dark: #956D7E;
$terciario-dark-hover: #775765;
$terciario-dark-active: #5A414C;
$terciario-darker: #46333B;


// COMPLEMENTARIO    
$comple-light: #ECF5F6;
$comple-light-hover: #E2F0F1;
$comple-light-active: #C4E0E2;

$comple-normal: #419AA1;
$comple-normal-hover: #3A8B91;
$comple-normal-active: #337B81;

$comple-dark: #307479;
$comple-dark-hover: #265C61;
$comple-dark-active: #1D4548;
$comple-darker: #163638;

//NEUTRO

$neutro-lighter: #F9F9F9;
$neutro-light: #EBEBEB;
$neutro-light-hover: #E0E0E0;
$neutro-light-active: #c0c0c0;

$neutro-grey: #575453;
$neutro-normal: #333333;
$neutro-normal-hover: #2E2E2E;
$neutro-normal-active: #292929;  
$neutro-dark: #262626;
$neutro-dark-hover: #1B1B1B;
$neutro-dark-active: #171717;
$neutro-darker: #121212;
$neutro-black: #000000;
$neutro-white: #FFFFFF;


// EXITO
$exito-light: #BAECD1;
$exito-normal: #1FC16B;
$exito-active: #199A56;

// ADVERTENCIA 
$advertencia-light: #FDEEB0;
$advertencia-normal: #F8C800;
$advertencia-active: #C6A000;

// ERROR
$error-light: #E5B7B0;
$error-normal: #AA1700;
$error-active: #881200;