
.space-2 { padding-bottom: 2px; }
.space-4 { padding-bottom: 4px; }
.space-6 { padding-bottom: 6px; }
.space-8 { padding-bottom: 8px; }
.space-12 { padding-bottom: 12px; }
.space-16 { padding-bottom: 16px; }
.space-20 { padding-bottom: 20px; }
.space-24 { padding-bottom: 24px; }
.space-28 { padding-bottom: 28px; }
.space-32 { padding-bottom: 32px; }
.space-36 { padding-bottom: 36px; }
.space-40 { padding-bottom: 40px; }
.space-44 { padding-bottom: 44px; }
.space-48 { padding-bottom: 48px; }


// Padding-top classes - px values
.space-2-top { padding-top: 2px; }
.space-4-top { padding-top: 4px; }
.space-6-top { padding-top: 6px; }
.space-8-top { padding-top: 8px; }
.space-12-top { padding-top: 12px; }
.space-16-top { padding-top: 16px; }
.space-20-top { padding-top: 20px; }
.space-24-top { padding-top: 24px; }
.space-28-top { padding-top: 28px; }
.space-32-top { padding-top: 32px; }
.space-36-top { padding-top: 36px; }
.space-40-top { padding-top: 40px; }
.space-44-top { padding-top: 44px; }
.space-48-top { padding-top: 48px; }

/* .space{
    &-mt{
        &-0{
            margin-top: 0;
        }
        &-0.125{
            margin-top: 0.125rem;
        }
    }
    &-pt{
        &-0{
            padding-top: 0;
        }
    }
} */