/* body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: clamp(3.25rem, 5vw + 1rem, 5.61rem);
  letter-spacing: 0;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: clamp(3rem, 5vw + 1rem, 4.209rem);
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 0px;
}

h3 {
  font-size: clamp(2.5rem, 5vw + 1rem, 3.157rem);
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 0px;
}

h4 {
  font-size: clamp(1.75rem, 5vw + 1rem, 2.369rem);
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 0px;
}

h5 {
  font-size: clamp(1.5rem, 5vw + 1rem, 1.777rem);
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 0px;
}

h6 {
  font-size: clamp(1.25rem, 5vw + 1rem, 1.333rem);
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 0px;
}

p {
  letter-spacing: 0;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;

  &.parrafo-medium {
    font-weight: 500;
  }

  &.parrafo-bold {
    font-weight: 700;
  }
}

.font-16 {
  letter-spacing: 0px;
  font-size: 1rem;
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
}

.font-14 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
}

.font-12 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
}

 */